/* ---- reset ---- */

canvas {
  display: block;
  vertical-align: bottom;
}

#particles canvas{
}

/* ---- particles.js container ---- */

#particles-js {

  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: fixed !important;
  display: block;

}

#overlay {
  position: relative;
}
